.codetable {
    margin-top: 5em;
    width: 75%;
    border: 1px solid black;
}

.codetable td {
    border: 1px dashed #d3d3d3;
}

.codetable p {
    padding: 1px 3px 1px 3px;
    background-color: #efefef;
    font-family:'Courier New', Courier, monospace;
}

.codetable h2 {
    text-align: center;
}